<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Cardápio</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/barraStyle.css}"/>
        <link rel="stylesheet" th:href="@{/css/caixaStyle.css}"/>
    </head>
    <body>
        <div class="sidebar">
            <div th:insert="barraNavegacao.html :: sidebar"></div>
        </div>
        <div class="container-form pt-4 cardapio">
            <div class="card-container">
                <div class="card" th:each="produto : ${listaProdutos}">
                    <div class="card-body">
                        <img th:src="@{/produto/imagem/{id}(id=${produto.id})}" alt="Produto" class="card-img img-fluid mb-3"/>
                        <h5 class="card-title" th:text="${produto.nome}">Título do Card</h5>
                        <p class="card-text" th:text="'R$' + ${produto.valor}">Descrição do card</p>
                        <a th:href="@{/cadastrarProduto/excluir/{id}(id=${produto.id})}" sec:authorize="hasRole('ADMIN')" class="btn btn-danger btn-sm"
                           onclick="return confirm('Deseja realmente excluir?');">
                            Excluir
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
